acme>=2.11.0
certbot>=2.11.0
certifi==2024.8.30
cffi==1.17.0
charset-normalizer==3.3.2
ConfigArgParse==1.7
configobj==5.0.8
cryptography>=3.2.1
distro==1.9.0
idna==3.8
josepy==1.14.0
parsedatetime==2.6
pycparser==2.22
PyOpenSSL>=25.0.0
pyRFC3339==1.1
pytz==2024.1
requests==2.32.3
ruff==0.6.3
setuptools==74.0.0
six==1.16.0
urllib3==2.2.2
wheel==0.44.0
